<form id="forgotform" style="display: none">
    <table>
        <tr>
            <td>@Html.Label("lblUserId", "Login Code")</td>
            <td>@Html.TextBox("LoginCode", "", new { @class = "inputField", title = "Login Code", size = "30", maxlength = "18", placeholder = "Login Code" })</td>
        </tr>
        <tr>
            <td>@Html.Label("lblFAQ1","Question #1")</td>
            <td><select id="ddlFAQ1" class="inputField" style="height: 30px; width: 234px;"></select></td>
        </tr>
        <tr>
            <td>@Html.Label("lblAns1","Answer #1")</td>
            <td>@Html.TextBox("Answer1", "", new { @class = "inputField", title = "Answer #1", placeholder = "Answer #1" })</td>
        </tr>
        
        <tr>
            <td>@Html.Label("lblFAQ2","Question #2")</td>
            <td><select id="ddlFAQ2" class="inputField" style="height: 30px; width: 234px;"></select></td>
        </tr>
        <tr>
            <td>@Html.Label("lblAns2","Answer #2")</td>
            <td>@Html.TextBox("Answer2", "", new { @class = "inputField", title = "Answer #2", placeholder = "Answer #2" })</td>
        </tr>
        <tr>
            <td colspan="2" align="right"><button type="button" class="inputBtn" onclick=" forgotPassword('#forgotform') ">Submit</button>&nbsp;
            <button type="button" class="inputBtn" onclick="$.fancybox.close();" >Close</button></td>
        </tr>
    </table>
     
</form>